<!doctype html>
<html>
   <body>
        {% if marks>50 %}
            <h1> Your result is pass!</h1>
        {% else %}
            <h1>Your result is fail</h1>
        {% endif %}

   </body>
</html>