<!doctype html><
<html>
<head>
   <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'hello.js') }}" ></script>

</head>
  <body>
      <input type = "button" onclick = "sayHello()" value = "Say Hello" />
   </body>
</html>